@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    This WebForm is part of our project for 5510 Software Development in Business Environment.
</p>

<h2>Developed By:-</h2>
<p>Carlo Carandang</p>
<p>Sahil Behl</p>